.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 3rem;

  .flip-card {
    position: relative;
    background-color: white;
    aspect-ratio: 1;
    width: 100%;
    max-width: 20rem;
    border-radius: 8px;
    padding: 1rem;

    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
    }

    .flip-card-front,
    .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: opacity 0.3s ease-in-out;
    }

    .flip-card-front {
      opacity: 1;
      z-index: 2;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .flip-card-back {
      background-color: white;
      opacity: 0;
      z-index: 1;
    }

    &:hover {
      .flip-card-front {
        opacity: 0;
      }

      .flip-card-back {
        opacity: 1;
      }
    }
  }
}
