<h2 id="productos" class="title">Productos</h2>

<div class="products">
  <div class="card">
    <img
      src="assets/images/products/AristonLogo.png"
      alt=""
      height="100%"
      width="100%"
    />
  </div>

  <div class="card">
    <img
      src="assets/images/products/Baxi Logo.png"
      alt=""
      height="100%"
      width="100%"
    />
  </div>

  <div class="card">
    <img
      src="assets/images/products/Ferroli Logo.png"
      alt=""
      height="100%"
      width="100%"
    />
  </div>

  <div class="card">
    <img
      src="assets/images/products/Giacomini Logo.png"
      alt=""
      height="100%"
      width="100%"
    />
  </div>


  <div class="card">
    <img
      src="assets/images/products/Peisa Logo.png"
      alt=""
      height="100%"
      width="100%"
    />
  </div>


  <div class="card">
    <img
      src="assets/images/products/Rehau Logo.png"
      alt=""
      height="100%"
      width="100%"
    />
  </div>
</div>

