<h2 id="nosotros" class="title text-center">¿Quiénes somos?</h2>

<p class="description">
  En ZT Clima, nos especializamos en proporcionar soluciones integrales en <strong><i>calefacción, aire acondicionado y
      agua
      caliente sanitaria</i></strong> para uso residencial, comercial e industrial. Nuestro equipo está conformado por
  profesionales con
  una vasta experiencia en el diseño de proyectos, instalación de equipamiento y mantenimiento de sistemas de
  climatización. Nuestra mayor satisfacción y compromiso es brindar un servicio personalizado y orientado al cliente,
  trabajando estrechamente con cada uno de ellos para entender sus necesidades y proporcionar soluciones óptimas, a
  medida y de alta calidad.
</p>