<h2 id="nosotros" class="title text-center">¿Quiénes somos?</h2>

<p class="description">
  En ZT Clima, nos especializamos en proporcionar soluciones integrales en
  calefacción y agua calientesanitaria para uso residencial, comercial e
  industrial. Nuestro equipo está conformado porprofesionales con una vasta
  experiencia en el diseño de proyectos, instalación de equipamiento
  ymantenimiento de sistemas de climatización. Nuestra mayor satisfacción y
  compromiso es brindarun servicio personalizado y orientado al cliente,
  trabajando estrechamente con cada uno de ellospara entender sus necesidades y
  proporcionar soluciones óptimas, a medida y de alta calidad.
</p>
