:host {
  background-color: black;
  padding: 1rem;
}

.contact {
  color: white;
}

p {
  font-size: 14px;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .info {
    display: flex;
    flex-direction: column;
  }
}


hr {
  margin: 1rem 0;
}