<footer class="container">
  <div class="row contact">
    <div class="col-12 col-md-6 col-lg-8">
      <img
        alt="logo"
        src="assets/logo-alt-white.svg"
        height="60px"
        width="233px"
      />
    </div>
    <div class="col-12 col-md-6 col-lg-4" style="gap: 0.5rem">
      <div class="item">
        <fa-icon [icon]="faPhone" />
        <div class="info">
          <a href="tel:541161818130">11 6181-8130</a>
          <a href="tel:541161818130">11 5801-1537</a>
        </div>
      </div>

      <div class="item">
        <fa-icon [icon]="faEnvelope" />
        <a href="mailto:info@ztclima.com.ar">info&#64;ztclima.com.ar</a>
      </div>

      <div class="item">
        <fa-icon [icon]="faMapMarkerAlt" />
        <p>Gdor. Marcelino Ugarte 3033, Olivos, Bs. As.</p>
      </div>
    </div>
  </div>

  <hr />

  <div class="row" style="color: white">
    <p>Copyright © 2024 ZT Clima. Todos los derechos reservados.</p>
  </div>
</footer>
