<footer class="container">
   <div class="row contact">
    <div class="col-6 col-lg-3"> 
        <p>Telefonos</p> 
        <p>11 6181-8130</p>
        <p>11 5801-1537</p>
    </div>
    <div class="col-6 col-lg-3"> 
        <p>Mail</p> 
        <p>info&#64;ztclima.com.ar</p>
    </div>
    <div class="col-6 col-lg-3"> 
        <p>Direccion</p>
        <p>Gdor.Marcelino Ugarte 3033,</p>
        <p>Olivos, Bs. As.</p>
    </div>
    <div class="col-6 col-lg-3"> 
        aasa 
    </div>
   </div> 

   <div class="row" style="color: white">
    asasa
    qsasas
   </div> 

</footer>
