:host {
  background-color: black;
  padding: 1rem;
}

p {
  font-size: 14px;
}

hr {
  margin: 1rem 0;
}

.contact {
  color: white;

  img {
    margin-bottom: 1rem;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .info {
      display: flex;
      flex-direction: column;
    }
  }
}
