@import "../../../buttons.scss";

:host {
  background-color: gray;
  width: 100%;
  height: 100%;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow-control {
  @include btn-transparent();

  position: absolute;
  top: 50%;
  font-size: 32px;
  transform: translateY(-50%);
  color: white;

  &:hover {
    color: #f3f3f3;
  }

  &.left {
    left: 1rem;
  }

  &.right {
    right: 1rem;
  }
}

@media (min-width: 768px) {
  .arrow-control {
    font-size: 50px;
  }
}
