<nav class="container">
  <div class="header">
    <a [routerLink]="''">
      <img
        alt="logo"
        src="../../../assets/logo-horizontal.svg"
        height="60px"
        width="233px"
      />
    </a>

    <div class="items">
      <a [routerLink]="''">Inicio</a>
      <a [routerLink]="'/servicios'">Servicios</a>
      <a [routerLink]="'/clientes'">Clientes</a>
      <a [routerLink]="'productos'">Productos</a>
      <a [routerLink]="'contacto'">Contacto</a>
    </div>
  </div>
</nav>
