<h2 id="contactanos" class="title text-center">Contactanos</h2>

<div class="contact-container">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nombre y Apellido</label>
      <input id="name" formControlName="name" placeholder="Tu nombre y apellido" />
      <div *ngIf="name?.invalid && name?.touched" class="error-message">
        <small *ngIf="name?.errors?.['required']"
          >El nombre y apellido es obligatorio.</small
        >
        <small *ngIf="name?.errors?.['minlength']"
          >El nombre debe tener al menos 3 caracteres.</small
        >

        <small *ngIf="name?.errors?.['maxlength']"
          >El nombre debe tener máximo 500 caracteres.</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" formControlName="email" placeholder="ejemplo@email.com" />
      <div *ngIf="email?.invalid && email?.touched" class="error-message">
        <small *ngIf="email?.errors?.['required']"
          >El email es obligatorio.</small
        >
        <small *ngIf="email?.errors?.['email']"
          >El formato del email no es válido.</small
        >
      </div>
    </div>

    <div style="display: flex; gap: 16px">
      <div class="form-group" style="max-width: 40%">
        <label for="areaCode">Código postal</label>
        <input id="areaCode" formControlName="areaCode" placeholder="011" />
        <div
          *ngIf="areaCode?.invalid && areaCode?.touched"
          class="error-message"
        >
          <small *ngIf="areaCode?.errors?.['required']"
            >El código de área es obligatorio.</small
          >
          <small *ngIf="areaCode?.errors?.['pattern']"
            >El código de área no es válido.</small
          >
        </div>
      </div>

      <div class="form-group" style="flex-grow: 1">
        <label for="phone">Número de Teléfono</label>
        <input id="phone" formControlName="phone" placeholder="45894589" />
        <div *ngIf="phone?.invalid && phone?.touched" class="error-message">
          <small *ngIf="phone?.errors?.['required']"
            >El número de teléfono es obligatorio.</small
          >
          <small *ngIf="phone?.errors?.['pattern']"
            >El número de teléfono no es válido.</small
          >
          <small *ngIf="phone?.errors?.['maxlength']"
            >El número de teléfono debe ser menor a diez digitos.</small
          >
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="message">Mensaje</label>
      <textarea
        id="message"
        formControlName="message"
        placeholder="Tu mensaje acá..."
      ></textarea>
      <div *ngIf="message?.invalid && message?.touched" class="error-message">
        <small *ngIf="message?.errors?.['required']"
          >El mensaje es obligatorio.</small
        >
        <small *ngIf="message?.errors?.['minlength']"
          >El mensaje debe tener al menos 10 caracteres.</small
        >
      </div>
    </div>

    <button
      type="submit"
      [disabled]="contactForm.invalid || isLoading"
      [ngClass]="{ loading: isLoading }"
      class="submit-btn"
    >
      <span *ngIf="!isLoading">Enviar Mensaje</span>
      <span *ngIf="isLoading">Enviando...</span>
    </button>
    
    <dialog [attr.open]="isDialogOpen">
      <p class="email-headline">Correo enviado exitosamente.</p>
      <p>En breve nos contactaremos!</p>
      <button class="submit-btn" (click)="closeDialog()">Cerrar</button>
    </dialog>
  </form>
</div>
