<app-header></app-header>

<div class="scroll">
  <main class="content">
    <router-outlet></router-outlet>
  </main>

  <app-footer></app-footer>
</div>

<button
  class="floating"
  (click)="openWhatsappDialog()"
  aria-label="Contactar por WhatsApp"
>
  <img
    src="assets/images/whatsapp.png"
    alt="whatsapp"
    width="80px"
    height="80px"
  />
</button>

<app-whatsapp-dialog
  *ngIf="showWhatsappDialog"
  (close)="closeWhatsappDialog()"
  (optionSelected)="onWhatsappOptionSelected($event)"
></app-whatsapp-dialog>
