:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scroll {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  overflow-y: auto;

  .content {
    background-color: #f1f1f1;
    flex-grow: 1;
  }
}

.floating {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}