h1 {
  position: absolute;
  z-index: -1;
  color: transparent;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    margin-bottom: 3rem;
  }
}

.container {
  margin-bottom: 3rem;
  padding: 1rem;
  gap: 2rem;
}
