@import "../../../buttons.scss";

.title {
  text-align: center;
  font-size: 42px;
}

.services {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  gap: 1rem;
  flex-wrap: wrap;

  .card {
    @include btn-transparent();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    color: white;
    background-color: rgb(191, 192, 198);
    text-shadow: rgb(0, 0, 0) 1px 0 10px;

    aspect-ratio: 14/16;
    height: 20rem;
    border-radius: 8px;
    overflow: hidden;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 1rem;
    padding: 1rem;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    span {
      z-index: 1;
    }
  }
}
