<h2 id="servicios" class="title text-center">Servicios</h2>
<div class="services">
  <div class="card">
    <img src="assets/images/radiador.png" alt="" height="100%" width="100%" />
    <span class="title">Calefaccion / ACS</span>

    <div class="description">
      <p>
        Nuestra amplia experiencia en el rubro nos permite ofrecer sistemas eficientes y confortables, mediante
        calefacción por radiadores o piso radiante por agua, con la posibilidad de realizar las sectorizaciones
        deseadas.
      </p>
      <br />
      <p>
        Además, en búsqueda de optimizar el consumo de energía ofrecemos distintas alternativas con acumuladores de agua
        caliente sanitaria sin consumo de gas propio, aprovechando siempre el uso de la caldera.
      </p>
    </div>
  </div>

  <div class="card">
    <img src="assets/images/termotanque.png" alt="" height="100%" width="100%" />
    <span class="title">Aire acondicionado</span>

    <div class="description">
      <p>Existen variados sistemas de aire acondicionado utilizables en un mismo proyecto. Nuestro objetivo es brindarle
        la alternativa que mejor se adapte a sus deseos y posibilidades. Para ello analizamos marcas, costos,
        prestaciones, confortabilidad, consumo y que su diseño se adapte a la arquitectura de la casa.</p>

      <br />

      <p>
        Entre los sistemas más utilizados podemos mencionar:
      </p>

      <ul>
        <li>Sistemas centrales VRF/VRV, Roof-Top, etc. residenciales, comerciales e industriales</li>
        <li>Equipos bajo silueta, multisplit, spilt</li>
        <li>Distribución de aire por conductos, unidades de pared, cassette, etc</li>
      </ul>

      <p>
        No dude en consultarnos, nos especializamos en asesorarlo.
      </p>
    </div>
  </div>
</div>