<h2 id="servicios" class="title">Servicios</h2>
<div class="services">
  <button class="card">
    <img src="assets/images/radiator.jpg" alt="" height="100%" width="100%" />
    <span>Calefacción</span>
  </button>
  <button class="card">
    <img
      src="assets/images/air-conditioning.jpg"
      alt=""
      height="100%"
      width="100%"
    />
    <span>Aire acondicionado</span>
  </button>
  <button class="card">
    <img
      src="assets/images/accessories.jpg"
      alt=""
      height="100%"
      width="100%"
    />
    <span>Accesorios</span>
  </button>
</div>
