<h2 id="servicios" class="title">Servicios</h2>
<div class="services">
  <button class="card">
    <img src="assets/images/radiator.jpg" alt="" height="100%" width="100%" />
    <span class="title">Calefacción</span>

    <div class="description">
      <span>
        Nuestra amplia experiencia en el rubro nos permite ofrecer sistemas
        eficientes y confortables mediante radiadores y piso radiante, con la
        posibilidad de realizar las sectorizaciones deseadas.
      </span>
    </div>
  </button>
  <button class="card">
    <img
      src="assets/images/accessories.jpg"
      alt=""
      height="100%"
      width="100%"
    />
    <span class="title">Agua caliente</span>

    <div class="description">
      <span>
        En búsqueda de optimizar el consumo de energía ofrecemos distintas
        alternativas con acumuladores de agua caliente sanitaria sin consumo de
        gas propio, aprovechando siempre el uso de la caldera.
      </span>
    </div>
  </button>
</div>
