<h1>ZT Clima</h1>

<div class="gallery">
  <app-gallery></app-gallery>
</div>

<div class="services">
  <button class="card">
    <img
      src="../../../../assets/icons/fire.svg"
      alt=""
      height="100%"
      width="100%"
    />
    <span>Calefacción</span>
  </button>
  <button class="card">
    <img
      src="../../../../assets/icons/snow.svg"
      alt=""
      height="100%"
      width="100%"
    />
    <span>Aire acondicionado</span>
  </button>
  <button class="card">
    <img
      src="../../../../assets/icons/acs.svg"
      alt=""
      height="100%"
      width="100%"
    />
    <span>Accesorios</span>
  </button>
</div>
