// Variables
$grid-columns: 12;
$grid-gutter-width: 30px;
$breakpoints: ( //carita triste
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// Mixin para generar columnas
@mixin make-grid-columns() {
  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      width: 100% / $grid-columns * $i;
      float: left;
      box-sizing: border-box;
      padding-left: $grid-gutter-width / 2;
      padding-right: $grid-gutter-width / 2;
    }
  }

  @each $breakpoint, $value in $breakpoints {
    @media (min-width: $value) {
      @for $i from 1 through $grid-columns {
        .col-#{$breakpoint}-#{$i} {
          width: 100% / $grid-columns * $i;
        }
      }
    }
  }
}
