$grid-columns: 12;
$grid-gutter-width: 30px;
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin make-grid-columns() {
  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      display: flex;
      flex-direction: column;
      width: calc(100% / $grid-columns * $i);
      float: left;
    }
  }

  @each $breakpoint, $value in $breakpoints {
    @media (min-width: $value) {
      @for $i from 1 through $grid-columns {
        .col-#{$breakpoint}-#{$i} {
          width: calc(100% / $grid-columns * $i)
        }
      }
    }
  }
}
