*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Roboto", "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  &:hover{
    color: #1877f2;
  }
}

p {
  margin: 0;
}

@import "grid-settings";

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@include make-grid-columns();
